.selection-container {
    margin-bottom: 50px;
    padding: 20px;
}
.main img {
    width: 200px;
    margin: 15px;
}
.active {
    background-color: grey;
    color: #fff;
}

.image-selections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }